# Dependencies & Build
node_modules/
dist/
*.tsbuildinfo

# Test-Artefakte
coverage/
playwright-report/
blob-report/
test-results/

# Lokales
.DS_Store
*.local
.env
.env.*.local

# IDE
.idea/
.vscode/
